@charset "UTF-8";
/**
 * 1. 定义在所有浏览器中更改默认的字体
 * 2. 定义在所有浏览器中正确的行高度.
 * 3. 防止方向更改后字体大小的调整
 *    在iOS上的Windows Phone和IE.
 */
/* 文件
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 无线衬字体*/
  line-height: 1.15;
  /* 1.5倍行高*/
  -ms-text-size-adjust: 100%;
  /* 禁止webkit浏览器配置调整网页的字体大小*/
  -webkit-text-size-adjust: 100%; }

/* 小结
   ========================================================================== */
body {
  margin: 0;
  /*清除浏览器的边缘*/ }

/*在IE9-中添加HTML5语义化元素*/
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block; }

/*重置H1元素大字体大小以及边缘使之能在各个浏览器下都相同*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*重置figure元素大字体大小以及边缘使之能在各个浏览器下都相同*/
figure {
  margin: 1em 40px; }

/**
 * 1. 谁知在浏览器中添加正确的框大小.
 * 2. 显示边缘溢出但不占据空间.
 */
hr {
  box-sizing: content-box;
  /* (padding和border不被包含在定义的width和height之内。对象的实际宽度等于设置的width值和border、padding之和) */
  height: 0;
  /* 不占据空间 */
  overflow: visible;
  /*溢出可见 */ }

/**
 * 1. 纠正所有浏览器中字体大小的继承和缩放.
 * 2. 纠正所有浏览器中的'EM'字体大小.
 * 3.<pre> 标签用来显示&lt;body&gt会保留空格和换行符;
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* 文本层次的语义
   ========================================================================== */
/**
 * 1. 删除在活动链接的灰色背景(IE10).
 * 2. 删除链接中的空白下划线(iOS 8+ and Safari 8+).
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 删除a连接聚焦和激活状态的轮廓
 * 所有浏览器都是这样.
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. 删除在浏览器的底部边框.
 * 2. 添加正确的文字装饰铬、边缘 (Chrome, Edge, IE, Opera, and Safari).
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * 防止重复应用
 */
b,
strong {
  font-weight: inherit; }

/**
 * 添加正确的字体加粗(Chrome, Edge, and Safari.) 
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. 纠正所有浏览器中字体大小的继承和缩放 .
 * 2. 纠正所有浏览器中的“EM”字体大小.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * 在安卓4.3中添加正确的字体样式— .
 */
dfn {
  font-style: italic; }

/**
 * 在IE9中添加正确的背景和颜色.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * 在所有浏览器中添加正确的字体大小 .
 */
small {
  font-size: 80%; }

/**
 * 在所有浏览器中防止上标和下标影响行的高度
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* 嵌入式内容 
   ========================================================================== */
/**
 * 在IE9中添加正确的显示
 */
audio,
video {
  display: inline-block; }

/**
 * 在IOS4-7中添加正确的显示
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * 删除在链接中的图像的边界(IE 10-).
 */
img {
  border-style: none; }

/**
 * 隐藏溢出 IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. 在所有浏览器中更改字体样式
 * 2. 除去在Firefox和Safari的边缘 .
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * 显示溢出IE.
 * 1. 显示边缘溢出 .
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * 删除文本变换的继承(Edge, Firefox, and IE.)
 * 1. 删除在浏览器中的文本变换的继承.(Firefox, and IE.)
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. 防止WebKit的bug 破坏本地的音频和视频
 *    在安卓4中的控制.
 * 2. 清除按钮的默认样式，做为一个按钮呈现元素 iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * 删除在浏览器中的内部边框和填充(Firefox).
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * 恢复以前的样式.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 更改所有浏览器中的边框、边框和填充(自定义).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. 纠正文本包装(Edge and IE).
 * 2. 正确的颜色继承 `fieldset` 元素(IE.)
 * 3. 删除填充(所有浏览器)
 * 
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. 在IE9正确显示进度条.
 * 2. 添加正确的垂直对齐方式(Chrome, Firefox, and Opera).
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 删除默认的垂直滚动条(IE.)
 */
textarea {
  overflow: auto; }

/**
 * 1. 添加正确的框大小 in IE 10-.
 * 2. 删除填充IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 纠正input中type为number的增加减少的样式
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1.纠正input中type为search的奇怪样式使之变成正常文本框.
 * 2. 纠正轮廓(Safari.)
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * 删除内填充和默认风格(Chrome and Safari on macOS).
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. 正确的按钮风格(iOS and Safari).
 * 2. 改变字体属性`继承`in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * 添加正确的显示 in IE 9-.(Edge, IE, and Firefox.)
 */
details,
menu {
  display: block; }

/*
 * 在所有浏览器中添加正确的显示.
 */
summary {
  display: list-item; }

/**
 * 在IE9中添加正确的显示
 */
canvas {
  display: inline-block; }

/**
 * 在IE9中添加正确的显示
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * 在IE10中添加正确的显示
 */
[hidden] {
  display: none; }
